.text {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-white);

    @media (max-width: 768px) {
        font-size: 18px;
        // line-height: abs($number: 0);
        line-height: normal;
    }

    @media (max-width: 500px) {
        text-align: center;
    }
}