.button {
    padding: 15px 32px;
    cursor: pointer;
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: var(--font-syne);
    transition: background 350ms, transform 350ms, color 350ms, opacity 350ms;
    font-size: 25px;
    line-height: normal;

    &--link {
        text-decoration: none;
        width: max-content;
    }

    &:active {
        transform: scale(0.95);
    }

    &--text {
        font-weight: 400;
        color: var(--color-white);
        font-family: var(--font-syne);
    }

    &--outlined {
        border: 1px solid var(--color-white);

        font-weight: 400;
        color: var(--color-white);
        font-family: var(--font-syne);
    }

    &--primary {
        background: var(--color-primary-gradient);
        color: var(--color-white);

        &:hover {
            opacity: 0.75;
        }
    }

    &--secondary {
        background-color: var(--color-white);
        color: var(--color-dark);

        &:hover {
            background: var(--color-dark);
            color: var(--color-white);
        }
    }

    @media (max-width: 1240px) {
        font-size: 20px;
    }

    @media (max-width: 1110px) {
        font-size: 18px;
    }
}