.attend-card {
    counter-increment: attend-counter;
    padding: 40px 60px;
    position: relative;
    max-height: 290px;
    gap: 52px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @media (max-width: 992px) {
        gap: 20px;
        padding: 40px;
    }

    &--right & {
        &__description {
            margin-left: auto;
        }
    }

    &--left {
        &::after {
            left: auto !important;
            right: 15px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        text-transform: uppercase;
        color: var(--color-white);
    }

    &__description {
        font-weight: 400;
        font-size: 18px;
        line-height: 167%;
        color: var(--color-white);
        max-width: 220px;
        position: relative;
        z-index: 1;

        @media (max-width: 992px) {
            max-width: 100%;
        }
    }

    &::after {
        content: counter(attend-counter, decimal-leading-zero);
        font-weight: 400;
        font-size: 300px;
        background: linear-gradient(183deg, var(--color-primary) 0%, rgba(1, 71, 255, 0) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        left: 15px;
        bottom: -90px;
        line-height: normal;

        @media (max-width: 1240px) {
            font-size: 220px;
            left: 0;
        }

        @media (max-width: 768px) {
            left: auto;
            right: 0;
            font-size: 200px;
        }
    }
}