.why-attend__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 110px;

    @media (max-width: 1240px) {
        margin-top: 50px;
    }

    @media (max-width: 992px) {
        grid-template-columns: repeat(1, 1fr);
    }
}