@font-face {
    font-family: 'Syne Regular';
    src: url('../fonts/Syne/Syne-Regular.ttf');
}

@font-face {
    font-family: 'Syne Medium';
    src: url('../fonts/Syne/Syne-Medium.ttf');
}

@font-face {
    font-family: 'Syne SemiBold';
    src: url('../fonts/Syne/Syne-SemiBold.ttf');
}

@font-face {
    font-family: 'Syne Bold';
    src: url('../fonts/Syne/Syne-Bold.ttf');
}