:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --font-syne-regular: 'Syne Regular', sans-serif;
  --font-syne-medium: 'Syne Medium', sans-serif;
  --font-syne-semibold: 'Syne SemiBold', sans-serif;
  --font-syne-bold: 'Syne Bold', sans-serif;
}