.block {
    border-radius: 50px;

    @media (max-width: 500px) {
        border-radius: 30px;
    }

    &--dark {
        background-color: var(--color-dark);
    }
    &--light {
        background-color: var(--color-gray);
    }
    &--primary {
        background-color: var(--color-primary);
    }
}