.about-us {
    display: flex;
    gap: 20px;

    @media (max-width: 992px) {
        flex-direction: column;
    }

    &__blocks {
        display: flex;
        flex-direction: column;
        gap: 20px;
        min-width: 673px;

        @media (max-width: 1270px) {
            min-width: auto;
        }
    }

    &__block {
        padding: 60px 50px;
        display: flex;
        flex-direction: column;
        gap: 35px;

        @media (max-width: 1270px) {
           gap: 20px;
        }

        @media (max-width: 992px) {
            padding: 30px;
        }

        &--first {
            width: 100%;


            @media (max-width: 992px) {
                width: auto;
            }
        }

        &--light & {
            &-title, &-description {
                color: var(--color-dark);
            }
        }

        &-title {
            font-weight: 700;
            font-size: 40px;
            color: var(--color-white);
            line-height: normal;


            @media (max-width: 1270px) {
                font-size: 32px;
            }

            @media (max-width: 500px) {
                text-align: center;
            }
        }

        &-description {
            font-weight: 400;
            font-size: 20px;
            line-height: 150%;
            color: var(--color-white);


            @media (max-width: 1270px) {
                font-size: 18px;
            }
        }

        &-info {
            display: flex;
            justify-content: space-between;
            gap: 10px;

            &-link {
                background-color: var(--color-white);
                min-width: 74px;
                height: 74px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                border: 2px solid transparent;
                transition: 350ms;
                svg path { transition: 350ms; }

                &:hover {
                    background-color: transparent;
                    border-color: var(--color-white);

                    svg path {
                        fill: var(--color-white);
                    }
                }

                @media (max-width: 500px) {
                    display: none;
                }
            }

            &-description {
                max-width: 305px;

                @media (max-width: 500px) {
                    max-width: max-content;
                    text-align: center;
                }
            }
        }

        &-speakers {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            margin-top: auto;

            @media (max-width: 992px) {
                // margin-left: auto;
                width: max-content;
            }

            @media (max-width: 500px) {
                flex-direction: column;
                width: 100%;
                gap: 20px;
            }

            &-avatars {
                display: flex;
                position: relative;
                height: 74px;
                width: 186px;

                @media (max-width: 992px) {
                    height: 50px;
                    width: 162px;
                }

                img {
                    position: absolute;
                    inset: 0;

                    @media (max-width: 992px) {
                        width: 50px;
                        height: 50px;
                    }

                    &:nth-child(1) {
                        left: 0;
                    }
                    &:nth-child(2) {
                        left: 37px;
                    }
                    &:nth-child(3) {
                        left: calc(37px * 2);
                    }
                    &:nth-child(4) {
                        left: calc(37px * 3);
                    }
                }
            }

            &-link {
                display: flex;
                align-items: center;
                gap: 20px;
                
                svg {
                    width: 17px;
                    height: 17px;

                    path {
                        fill: var(--color-white);
                        transition: 350ms;
                    }
                }

                &:hover {
                    background-color: var(--color-white);
                    color: var(--color-primary);

                    svg path {
                        fill: var(--color-primary);
                    }
                }
            }
        }
    }
}